<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body style="background-color:#e7d9ea">
    <nav class="navbar navbar-light bg-light justify-content-between" style="background-color:#f4f3f3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">PyShop</a>
            <form class="form-inline">
                <button class="btn" type="button" style="padding:0 0.5rem;margin:0 0.25rem"><a class="navbar-brand" href="/logout" style="margin:0">Log out</a></button>
        </div>
    </nav>  
    <div style="margin:5rem 10rem;padding:1rem;background-color:white;border:1px solid #f7f7ff;border-radius:2rem;background-color:#f7f7ff">
        <h1>Your order has been placed</h1>
        <br>
        <h2>You will receive your order at your doorstep within 24 hours...</h2>
        <em>(Payment method is Cash on Delivery by default.)<em>

    </div>
</body>
</html>